/node_modules
.DS_Store
.pdb
/node_modules
.DS_Store
.pdb

*.d


*.slo
*.lo
*.o
*.obj
# Ignore any files in /bin and /obj Folders
**/bin/*
**/obj/

*.gch
*.pdb


*.so
*.dylib
*.dll
*obj/
*.deps.json
*.csproj
*.mod
*.smod

*.json
*.lai
*.la
*.a
*.lib